

.product-details-container{
    padding: 30px;
    background: radial-gradient(rgb(88, 196, 133),rgb(224, 150, 195));
    height: 100vh;
}

.details-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.image-details{
    width:400px ;
    max-height: 250px;
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    background-color: black;
    padding: 10px;
} 
.product-title{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font: 1em sans-serif;
    color: rgb(39, 17, 17);
}
.product-price{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
    padding: 0px;
    margin: 0px;
}
.category-product{
    font-size: 20px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}

.description{
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
}

.rating-container{
    display: flex;
    align-items: center;
}
.rated-count{
    padding: 0px;
    margin: 0px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


